@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    display: inline-flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    gap: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 10px;
  }

  .button-primary {
    background: #058B94;
    color: #FFFFFF;
  }

  .button-primary:hover {
    background: #058B94;
  }

  .button-secondary {
    background: #E6FDFE;
    color: #058B94;
  }

  .button-secondary:hover {
    background: #058B94;
    color: #E6FDFE;
  }

  .Input__input {
    background-color: transparent;
    flex: 1 1 0%;
    outline: 2px solid transparent;
    outline-offset: 2px;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    min-width: none;
  }

  .InputScaffold {
    display: inline-block
  }

  .InputScaffold--gutter-bottom {
    margin-bottom: 16px;
  }

  .InputScaffold--fullWidth {
    width: 100%;
    display: block;
  }

  .InputScaffold__label {
    font-size: 14px;
    color: #333333;
    margin-bottom: 4px;
  }

  .InputScaffold__input {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    color: #333333;
    border: 1px solid rgb(229 231 235 / var(--tw-border-opacity));
    border-radius: 6px;
    padding: 0px 16px;
  }

  .InputScaffold__input--small {
    min-height: 40px;
  }

  .InputScaffold__input--medium {
    min-height: 48px;
  }

  .InputScaffold__input--large {
    min-height: 56px;
  }
}